[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/pack/plugins/start/minimalist"]
	path = vim/pack/plugins/start/minimalist
	url = https://github.com/dikiaap/minimalist.git
[submodule "vim/pack/plugins/start/ale"]
	path = vim/pack/plugins/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim/pack/plugins/start/vim-surround"]
	path = vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/pack/plugins/start/auto-pairs"]
	path = vim/pack/plugins/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "vim/pack/plugins/start/vim-powerline"]
	path = vim/pack/plugins/start/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vim/pack/plugins/start/vim-virtualenv"]
	path = vim/pack/plugins/start/vim-virtualenv
	url = https://github.com/plytophogy/vim-virtualenv
[submodule "vim/pack/plugins/start/completor.vim"]
	path = vim/pack/plugins/start/completor.vim
	url = https://github.com/maralla/completor.vim
[submodule "bash-git-prompt"]
	path = bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
[submodule "gestures/libinput-gestures"]
	path = gestures/libinput-gestures
	url = https://github.com/bulletmark/libinput-gestures.git
